.card-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
  }
  
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0.25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    background-color: white;
    transform-style: preserve-3d;
    min-height: 150px;
    transform: perspective(1000px) rotateY(0deg);
    transition: 600ms;
  }
  
  .card:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
  }
  
  .card.flip {
    --rotate-y: 180deg;
    transform: rotateY(180deg);
  }
  
  .card .front {
    top: 0;
    padding: 1rem;
    text-align: center;
  }
    
  .card .front,
  .card .back {
    position: absolute;
    backface-visibility: hidden;
  }
  
  .card .back {
    transform: rotateY(180deg);
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
  }
  
  .options {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .option {
    margin: 0.25rem;
    color: white;
    font-size: 0.75rem;
    padding: 0.5rem 1em;
    min-width: 150px;
    cursor: pointer;
    background-color: hsl(0, 50%, 50%);
    border-radius: 0.3em;
    border: none;
  }
  
  .option:hover {
    background-color: hsl(0, 50%, 40%);
  }
  
  .error-msg{
    text-align: center;
    color: red;
    font-size: 0.75rem;
    margin: 0.5rem;
  }
  
  .options:first-child {
    margin-top: 0;
  }
  
  @media screen and (max-width: 600px) {
    .card-grid {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .card {
      transform: perspective(0px);
      transform-style:none;
      transition: none;
    }
    .card .back {
      font-size: 1rem;
    }
    .option {
      min-width: 100px;
    }
  }
  